:root {
  --darkblue: rgb(5, 18, 35);
  --citylights: rgb(240, 180, 59);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
}

/* Header */
header {
  padding: 20px 50px;
  background-color: var(--darkblue);
  color: var(--purple);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.7;
}

header h1 {
  font-size: 36px;
  margin: 0;
  font-weight: bolder;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Main */
main {
  max-width: 85%;
  margin: 0 auto;
}

/* Body */
body {
  background: var(--darkblue);
  color: white;
}

body::before {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9999;
}

/* Creating Content Divide(Drag In CSS from Original Portfolio Here) */
.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  border-right: 5px solid var(--citylights);
  margin-right: 15px;
  padding: 30px 0;
  font-size: 2vw;
  line-height: 1.1;
  width: 25%;
  text-shadow: 2px 2px 1px var(--darkblue);
}

/* Anchor */
a {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5px 15px;
  text-decoration: underline var(--citylights);
  font-size: 30px;
  font-style: normal;
  position: relative;
  z-index: 2;
}

/* Section */
section {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 60px 0;
  padding: 10px 0;
}

/* About Me */
.synopsis {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  width: 75%;
}

.synopsis p {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1.6;
  text-shadow: 2px 2px 5px var(--darkblue);
}

/* Footer */
body {
  padding-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 20rem;
}

/* Contact */
#contact-me {
  margin-bottom: 0px;
}

form {
  width: 600px;
}

form div {
  margin-bottom: 8px;
}

label {
  display: block;
  font-size: 22px;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid var(--citylights);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus,
textarea:focus {
  border: 2px solid var(--darkblue);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 100%;
  height: 120px;
  border: 2px solid var(--citylights);
  padding: 5px;
  resize: vertical;
}

button,
button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 20spx;
  outline: none;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: (0 1rem 2rem aqua);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

button-white {
  background-color: #fff;
  color: #777;
}

button::after {
  content: '';
  display: inline;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.contact a {
  color: white;
  text-shadow: 2px 2px 5px var(--citylights);
}

/* Projects */
.projects {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: minmax(150px, 1fr);
  gap: 10px;
  width: 75%;
}

/* I HATE GRIDS!!!!!!! */
.project {
  grid-column: span 4;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 150px;
  min-width: 150px;
  border-radius: 5px;
  padding-left: 2%;
}

.project:first-child {
  grid-column: span 8;
  grid-row: span 2;
}

.project-description {
  color: var(--darkblue);
  padding: 10px;
  background: var(--citylights);
  border-radius: 5px;
}

.project-name, .project-tech {
  color: var(--darkblue);
  font-size: 20px;
  text-shadow: 2px 2px 5px aquamarine;
  font-weight: bolder;
}

.otaku {
  background-image: url(./assets/images/otaku.jpg);
}

.adopt {
  background-image: url(./assets/images/adopt.jpg);
}

.covid {
  background-image: url(./assets/images/covid.jpg);
}

/* Resume */
.resume {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.resume p,
.resume a {
  align-items: baseline;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 1px var(--darkblue);
}

.resume a {
  padding: 0;
  text-decoration: underline;
  position: relative;
  display: inline;
  color: var(--citylights);
}

.resume div {
  margin-top: 16px;
}

.resume h2 {
  font-size: 26px;
  text-shadow: 2px 2px 1px var(--darkblue);
  margin-bottom: 8px;
}

